---
import UI from '../components/UI.jsx';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Zodiom</title>
  </head>
  <body class="overflow-hidden">
    <UI client:load />
    <script type="module" src="/bundle.js"></script>
  </body>
</html>
